/* Tech Elevator Colors

Dark Gray:  #3B3E42
Blue:       #00ADEE
Green:      #8CC63F
Light Gray: #999999
White:      #FFFFFF
Orange:     #F6931D
Purple:     #363E8B
Gold:       #FFCB48
Red:        #c63f3f
*/

/* Document Styling */

* {
    box-sizing: border-box;
}

body {
    color: #363E8B;
    background-color: #999999;
    font-family: 'Proxima Nova', Tahoma, Arial, sans-serif;
}

main {
    background-color: white;
    padding: 1rem;
}

section>h1:first-child {
    margin-top: 0;
    padding-top: 1rem;
}

section>*:last-child {
    margin-bottom: 0;
}

/* Sidebar Styling */

aside {
    background-color: #3B3E42;
    color: #999999;
    float: right;
    margin: 0.5rem;
    max-width: 20rem;
    padding: 0.25rem;
    text-align: center;
}

aside img {
    max-width: 100%;
    margin-bottom: 0.25rem;
}

aside blockquote {
    border-top: #8CC63F dotted 1px;
    padding: 0.5rem;
    margin: 0.5rem;
    color: #999999;
}

cite {
    font-size: x-small;
}

blockquote {
    font-size: small;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

blockquote cite {
    display: block;
    text-align: right;
    margin-top: 0.5rem;
    color: #FFCB48;
    font-style: normal;
}

/* Clearfix is a standard hack for getting things back to normal after float */

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* General Header / Footer Styling */

header,
footer {
    background-color: #3B3E42;
    color: #999999;
}

header {
    border-bottom: 5px solid #FFCB48;
}

.active {
    color: #00ADEE;
    font-size: 110%;
}

footer {
    border-top: 5px solid #FFCB48;
    text-align: center;
    padding: 1rem;
}

footer nav {
    margin-bottom: 1rem;
}

header nav {
    display: inline-block;
    position: relative;
    top: -1.75rem;
    left: 2rem;
}

nav a {
    padding: 0.5rem;
}

/* Link Styling */

a {
    color: #8CC63F;
    text-decoration: none;
    font-weight: bold;
    font-size: 90%;
}

/* Links inside the main content area should be blue instead of green */

main a {
    color: #00ADEE;
}

/* The link should be a different color when you hover over it */
a:hover {
    color: #F6931D;
}

/* Customized Scrollbar Style */

::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-track {
    background: #999999;
}

::-webkit-scrollbar-thumb {
    background: #ffffff;
    box-shadow: #3b3e42 0.1rem 0.1rem;
    border-radius: 0.25rem;
}

::-webkit-scrollbar-thumb:hover {
    background: #ffcb48;
}