/* Tech Elevator Colors

Dark Gray:  #3B3E42
Blue:       #00ADEE
Green:      #8CC63F
Light Gray: #999999
White:      #FFFFFF
Orange:     #F6931D
Purple:     #363E8B
Gold:       #FFCB48
Red:        #c63f3f
*/

/* Document Styling */

/* TODO-1 Move everything to use border box box sizing */
/* TODO-1 Use #999999 for the body's background color and white for the main content area's background color */
/* TODO-1 Give the main content area and footer enough padding to look acceptable */

body {
    color: #363E8B;
    background-color: white;
    font-family: 'Proxima Nova', Tahoma, Arial, sans-serif;
}

/* TODO-2: If a section starts with a H1, set its margin-top to 0 and instead give it a padding-top. */
/* TODO-2: Sections should have their last child not have a margin bottom */

/* Sidebar Styling */

/* TODO-1: Asides should use a background color, a max-width of 20rem, and float right */

/* TODO-1: Images iside of asides should have a max-width of 100% */
aside img {
    max-width: 250px;
    margin-bottom: 0.25rem;
}

/* TODO-1: Block quotes inside of asides should use some form of non-solid border top */

cite {
    font-size: x-small;
}

blockquote {
    font-size: small;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

/* TODO-1: Cites inside of block quotes should be on the next line */
blockquote cite {
    text-align: right;
    margin-top: 0.5rem;
    color: #FFCB48;
    font-style: normal;
}

/* TODO-1: Review this: Clearfix is a standard hack for getting things back to normal after float */
/*
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
*/

/* General Header / Footer Styling */

header,
footer {
    background-color: #3B3E42;
    color: #999999;
}

header {
    border-bottom: 5px solid #FFCB48;
}

.active {
    color: #00ADEE;
    font-size: 110%;
}

footer {
    border-top: 5px solid #FFCB48;
    text-align: center;
    padding: 1rem;
}

footer nav {
    margin-bottom: 1rem;
}

/* TODO-1: Header nav should display positioned appropriately (not on the bottom border) */
header nav {
    display: inline-block;
}

nav a {
    padding: 0.5rem;
}

/* Link Styling */
a {
    color: #8CC63F;
    text-decoration: none;
    font-weight: bold;
    font-size: 90%;
}

/* Links inside the main content area should be blue instead of green */
main a {
    color: #00ADEE;
}

/* TODO-2: The link should be a different color when you hover over it */

/* TODO-2 Customized Scrollbar Style 

::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-track {
    background: #999999;
}

::-webkit-scrollbar-thumb {
    background: #ffffff;
    box-shadow: #3b3e42 0.1rem 0.1rem;
    border-radius: 0.25rem;
}

::-webkit-scrollbar-thumb:hover {
    background: #ffcb48;
}
*/