/* Tech Elevator Colors

Dark Gray:  #3B3E42
Blue:       #00ADEE
Green:      #8CC63F
Light Gray: #999999
White:      #FFFFFF
Orange:     #F6931D
Purple:     #363E8B
Gold:       #FFCB48
Red:        #c63f3f
*/

/* General CSS Demos */

/* TODO: Demo an element selector */
/* TODO: Demo a class selector */
/* TODO: Demo an id selector */
/* TODO: Demo an inline style */

/* Document Styling */

/* TODO: Give a standard foreground color */
/* TODO: Give a standard background color */
/* TODO: Give a TE approved font. We want Proxima Nova if possible. If that's unavailable, go with Tahoma, then Arial or any generic sans seriff font */

/* Link Styling */

/* TODO: Stylize link color */
/* TODO: Do not render links with underlines */
/* TODO: The active link should have a different color to it */

/* Sidebar Styling */

/* TODO: Make sure images don't get out of control */

/* Table Styling */

/* TODO: Format tables in an acceptable manner */
/* TODO: Include table specific styles only for pages relying on tables */